@charset 'utf-8';
.wrap{
    background-color:#f7f7f7;
}
.screenFir{
   // background-image: url(./img/hongfan-firrigh.png);
    background:url(./img/hotmi-firbg.png) left top no-repeat;
    background-size: 100% 100%;
    position: relative;
    i{
        color: white !important;
    }
    
}
@media screen and (max-width: 374px){
    .secDown{
        height: 1.26rem;
        
        img{
            height: 0.63rem;
        }
        p{
            height: 0.63rem;
            line-height: 0.63rem;
            i{
                font-size: 16px;
            }
        }
    }
    .firShadow{
        height:2.09rem !important ;
        img{
            height: 2.09rem !important;
        }
    }
    .screenSec{
        ul{
            width: 5.2rem;
            height: 6.2rem;
            img{
                width: 2.5rem !important;
                height: auto !important; 
            }
        }
    }
     .screenFour{
         .secDown{
             height: 0.83rem !important;
             padding-bottom:0.2rem !important;
         }
         .cDown{
             height: 0.63rem;
         }
    }
    .screenThr{
        background-size: 6rem 6.624rem !important;
    }
    .screenFour{
        .tit{
            padding-top:0.5rem !important; 
        }
        ul{
            li{
                img{
                    width: 1.17rem !important;
                    height: auto !important;   
                    }
                    dt{
                        line-height: 25px;
                    }
                    dd{
                        line-height: 15px;
                    }
            }
        }
    }
}
@media screen and (min-width: 375px){
    .secDown{
        height: 1.4rem;
        img{
            height: 0.7rem;
        }
        p{
            height: 0.7rem;
            line-height: 0.7rem;
        }
        i{
                font-size: 20px;
           }
    }
    .screenSec{
        ul{
            width: 6rem;
            height: 7rem;
        }
    }
    .screenFours{
         .cDown{
             height: 0.7rem;
         }
    }
} 
.conFir{
    color:#fff;
    font-size: 17px;
    line-height: 30px;
    padding-top:1rem;
    text-align: center;
    
    p{
        margin-top:0.5rem;
    }
    .firTit{
        img{
            width: 6.5rem;
            height: 0.56rem;
        }
    }
    .firCon{
        img{
            width: 4.15rem;
        }
    }
}
.firShadow{
    position: absolute;
    width: 7.5rem;
    height: 2.49rem;
    bottom:0;
        img{
            width: 7.5rem;
            height: 2.49rem;
        }
    }
.screenSec{
    position: relative;
    background: white;
    ul{
        position: relative;
        margin:0 auto;
        margin-top:0.25rem;
        li{
            position: absolute;
            span{
                position: absolute;
                font-size: 12px;
                line-height: 18px;
                color:#fff;
                background-color:#dd541a;
                display: inline-block;
                margin:0 auto;
                padding:0 0.2rem;
                white-space: nowrap;
                left: 50%;
                transform: translateX(-50%);
            }
            &:nth-of-type(1){
                top:0;
                left: 0;
                img{
                    width: 2.88rem;
                    height: 2.75rem;
                }
            }&:nth-of-type(2){
                left: 0;
                bottom:0;
                img{
                    width: 2.88rem;
                    height: 4.08rem;
                }
            }
            &:nth-of-type(3){
                right: 0;
                top:0;
                img{
                    width: 2.88rem;
                    height: 4.36rem;
                }
            }
            &:nth-of-type(4){
                right: 0;
                bottom:0;
                img{
                    width: 2.88rem;
                    height: 2.46rem;
                }
            }
        }
    }
    .secTit{
        text-align: center;
        padding-top:0.7rem;
        img{
            width: 4.51rem;
            height:0.51rem ;
        }
    }
    .secPhone{
        padding-top:0.5rem;
        text-align: center;
        img{
            width: 4.3rem;
            height: 8.78rem;
        }
    }
    .secBot{
        position: absolute;
        bottom: 0;
        img{
            width: 7.53rem;
            height: 3.81rem;
        }
    }
    
}
.secDown{
        position: absolute;
        bottom:0rem;
        width: 100%;
        text-align: center;
        p{
            font-weight: bold;
            
            i{
                color: #d1d1d1;
                display: inline-block;
                padding:0 0.3rem;
            }
        }
    }
.screenThr{
    background: #fff3da url(./img/hotmi-thircon.png) center 1.25rem no-repeat;
     background-size: 6.25rem 6.9rem;
    .tit{
        text-align: center;
        padding-top:0.5rem;
        position: relative;
        img{
            width: 2.31rem;
            height: 0.56rem;
        }
    }
    .conImg{
        position: relative;
        width: 100%;
        height: 6rem;
        margin-top:1.3rem;
        text-align: center;
        img{
            width: 3.92rem;
            height: 3.92rem;
            position: absolute;
            &:nth-of-type(1){
                left: -0.36rem;
                top:0;
            }
            &:nth-of-type(2){
                right: -0.36rem;
                top:0;
            }
            &:nth-of-type(3){
                bottom:0;
                transform:translateX(-50%);
            }
        }
    }
}
.screenFour{
    background: #fff;
    text-align: center;
    position: relative;
    .tit{
        width: 100%;
        padding-top:0.6rem;
        img{
            width: 2.20rem;
            height: 0.56rem;
        }
    }
    .tel{
        img{
            width: 4.23rem;
            height: 0.28rem;
        }
    }
    ul{
       display: block;
       padding:0.4rem 0.3rem;
        li{
            display: inline-block;
            width: 50%;
            width: 3.4rem;
            padding:0.2rem 0;
            img{
                width:1.39rem ;
                height: 1.45rem;
            }
            dt{
                font-size: 15px;
                color:#333333;
                line-height: 28px;
            }
            dd{
                font-size: 12px;
                color:#8c8c8c;
                line-height: 16px;
            }
            &:nth-of-type(1){
                border-right: 1px solid #ccc;
                border-bottom: 1px solid #ccc;
            }
             &:nth-of-type(2){
                border-bottom: 1px solid #ccc;
            }
            &:nth-of-type(3){
                border-right: 1px solid #ccc;
            }
        }
    }
    .con{
        padding-top:0.3rem;
        img{
            width: 6.9rem;
            height: 8.8rem;
        }
    }
    .all{
        background-color:#f7f7f7;
        display: inline-block;
        width: 6.9rem;
        position: absolute;
        bottom:0.5rem;
        left: 0.3rem;
        padding:0.1rem;
        font-size: 14px;
        color:#313131;
        a{
            display: inline-block;
            padding:0 0.5rem;
        }
        i{
            margin-left: 0.08rem;
            font-size: 10px;
        }
    }
}
:global{
    .am-wingblank.am-wingblank-lg{
        margin: 0 !important;
    }
    .hotmi .slider-decorator-0{
        display: none;
    }
    .slider-decorator-1{
        top:100% !important;
        left:50%;
        transform: translate(-50%,-50%) !important;
        margin-top:-0.35rem;
        width: 2.4rem !important;
        height: 0.7rem !important;
        opacity: 0;
        button{
             width: 2.4rem !important;
            height: 0.7rem !important;
        }
    }
    .hotmi .slider-decorator-2{
        display: none;
    }
   .hotmi .screenFour .slider-decorator-1{
        display: none !important;
    }
}
