@charset 'utf-8';
.partnersBox{
    h4{
        font-size: 19px;
        color: #313131;
        text-align: center;
        padding: 15px 15px 0 15px;
    }
    .partners{
        padding: 15px;
        img{
            width: 100%;
        }
    }    
}

